body {
  background-color: #ffe6ef;
}

nav {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  background: #d4006c;
  border-bottom: 2px solid #ffe6ef;
}

nav a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #ffd4e6;
}

nav a.active {
  color: #ffd4e6;
  border-bottom: 2px solid #ffb7db;
  padding-bottom: 4px;
}
